<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CBM Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <link rel="stylesheet" href="css/ui-cropper.css">
    <link rel="stylesheet" href="css/flexboxgrid.min.css">
    <link rel="stylesheet" href="css/default.css">

    <script src="js/angular.min.js"></script>
    <script src="js/ng-file-upload-all.min.js"></script>
    <script src="js/fabric.min.js"></script>
    <script src="js/app.js" defer></script>
</head>
<body ng-app="app">
    <div class="container" ng-controller="AppController">
        
        <h1>CBM Generator</h1>

        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <div class="image-editor">
                    
                    <div class="group">
                        <button type="file" ngf-select="addImage($file)" ngf-accept="'image/*'" class="btn btn-primary">
                            Adicionar Imagem
                        </button>
                        <button ng-click="addText()" class="btn">
                            Adicionar Texto
                        </button>
                    </div>
                    <div class="help-block" ng-if="activeObject">
                        Aperte HOME ou + para move o objeto para uma camada acima e END ou - para movê-lo uma camada abaixo
                    </div>
                    <canvas height="500" width="500" id="canvas" class="cbm-canvas"></canvas>
                    <div class="group">
                        <a ng-click="render()" class="btn btn-primary" download ng-href="{{image.result}}">Salvar Imagem</a>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="group">
                    <label>Selecione um Selo</label>
                    <div class="clear group">
                        <span ng-repeat="w in waterMarks">
                            <a ng-click="selectWaterMark($index)" ng-style="w.style" class="water-mark" ng-class="{active: w === waterMark}"></a>
                        </span>
                    </div>
                </div>
    
                <div class="group">
                    <label>Selecione um Source</label>
                    <div class="clear group">
                        <span ng-repeat="s in sources">
                            <a ng-click="addSource(s)" ng-style="s.style" class="water-mark" ></a>
                        </span>
                    </div>
                </div>
    
                <div class="group">
                    <label>Largura (300 a {{MAX_WIDTH}})</label>
                    <input type="number" min="300" max="{{MAX_WIDTH}}" ng-model="dimensions.width" class="form-control" ng-change="changeCanvasWidth()">
                </div>
                <div class="group">
                    <label>Altura (300 a {{MAX_HEIGHT}})</label>
                    <input type="number" min="300" max="{{MAX_HEIGHT}}" ng-model="dimensions.height" class="form-control" ng-change="changeCanvasHeight()">
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>