<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CBM Generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="css/ui-cropper.css">
    <link rel="stylesheet" href="css/flexboxgrid.min.css">
    <link rel="stylesheet" href="css/angularjs-color-picker.min.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/tinycolor-min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/ng-file-upload-all.min.js"></script>
    <script src="js/angularjs-color-picker.min.js"></script>
    <script src="js/fabric.min.js"></script>
    <script src="js/app.js?t=2018-08-08T01:31:38.709Z" defer></script>
</head>

<body ng-app="app">
    <div class="header">
        <h1 class="text-center">CBM Generator</h1>
    </div>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- CBM Generator -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4119206527475379" data-ad-slot="4015700976" data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
    <div class="container" ng-controller="AppController" ng-cloak>

        <div id="editor-container">

            <div class="image-editor clear" ng-show="source">
                <div class="group">
                    <button ngf-drop ngf-select ngf-change="addImageFromBlob($file)" ngf-accept="'image/*'" class="btn btn-primary" title="Adicionar Imagem do computador">
                        <i class="fa fa-image fa-fw"></i>
                        <span>Selecionar imagem...</span>
                    </button>
                    <button ng-click="addFromUrl()" class="btn btn-primary" title="Adicionar Imagem por um link">
                        <i class="fa fa-link fa-fw"></i>
                        <span>Carregar Link</span>
                    </button>

                    <button ng-click="addText()" class="btn" title="Adicionar Texto">
                        <i class="fa fa-font fa-fw"></i>
                        <span>Texto</span>
                    </button>

                    <a ng-click="render()" class="btn btn-success" download="cbm-meme.jpg" target="_blank" ng-href="{{image.result}}" title="Baixar Imagem">
                        <i class="fa fa-download fa-fw"></i>
                        <span>Download</span>
                    </a>

                    <button class="btn btn-danger" ng-click="reset()">
                        <i class="fa-fa-sign-out fa-fw"></i>
                        Selecionar outra base
                    </button>

                </div>

                <div ng-style="{visibility: activeObject ? 'visible' : 'hidden'}" style="padding: 10px; background-color: #fff">
                    <div>
                        <h4>Modificar Objeto</h4>

                        <div class="row bottom-xs">
                            <div class="col-xs-6 col-sm-1">
                                <div class="group">
                                    <label>Opacidade</label>
                                    <input type="number" min="0.1" max="1" step="0.05" ng-model="activeObject.opacity" class="form-control" ng-change="canvas.renderAll()">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-1">
                                <div class="group">
                                    <label>Rotacão</label>
                                    <input type="number" min="0" max="360" ng-model="activeObject.angle" ng-change="canvas.renderAll()" class='form-control'>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3" ng-if="activeObject.get('type') === 'image'">
                                <div class="group">
                                    <label>Ativar Espelhamento</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button class="btn btn-block" ng-class="activeObject.flipX ? 'btn-primary' : 'btn-default'" ng-click="set('flipX', !activeObject.flipX)">
                                                <i class="fa fa-fw" ng-class="activeObject.flipX ? 'fa-check-square' : 'fa-square'"></i>
                                                Horizontal
                                            </button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn btn-block" ng-class="activeObject.flipY ? 'btn-primary' : 'btn-default'" ng-click="set('flipY', !activeObject.flipY)">
                                                <i class="fa fa-fw" ng-class="activeObject.flipY ? 'fa-check-square' : 'fa-square'"></i>
                                                Vertical
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <div class="group">
                                    <label>Bloquear Movimento</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button class="btn btn-block" ng-class="activeObject.lockMovementX ? 'btn-danger' : 'btn-default'" ng-click="set('lockMovementX', !activeObject.lockMovementX)">
                                                <i class="fa fa-fw" ng-class="activeObject.lockMovementX ? 'fa-check-square' : 'fa-square'"></i>
                                                Horizontal
                                            </button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button class="btn btn-block" ng-class="activeObject.lockMovementY ? 'btn-danger' : 'btn-default'" ng-click="set('lockMovementY', !activeObject.lockMovementY)">
                                                <i class="fa fa-fw" ng-class="activeObject.lockMovementY ? 'fa-check-square' : 'fa-square'"></i>
                                                Vertical&nbsp;&nbsp;&nbsp;
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3">
                                <div class="group">
                                    <label>Mover Camada</label>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button class="btn btn-block" ng-click="activeObject.moveTo(canvas.getObjects().indexOf(activeObject) + 1)">
                                                <i class="fa fa-arrow-up fa-fw"></i>
                                                <span>Pra cima</span>
                                            </button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button 
                                                class="btn btn-block" 
                                                ng-click="activeObject.moveTo(canvas.getObjects().indexOf(activeObject) - 1)">
                                                <i class="fa fa-arrow-down fa-fw"></i>
                                                <span>Para Baixo</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm">
                                <div ng-if="activeObject.get('type') === 'textbox'">
                                    <div class="row bottom-xs">
                                        <div class="col-xs-12 col-sm">
                                            <div class="group">
                                                <label>Editar Texto</label>
                                                <input type="text" ng-model="activeObject.text" class="form-control" ng-change="activeObject.text = (activeObject.text | uppercase); canvas.renderAll()">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="group">
                                                <label>Cor do Texto</label>
                                                <color-picker ng-model="activeObject.fill" options="{inputClass: 'form-control'}"></color-picker>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="group">
                                                <label>Cor da Borda</label>
                                                <color-picker  
                                                    ng-model="activeObject.stroke" 
                                                    options="{inputClass: 'form-control'}"></color-picker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <button ng-click="cloneObject()" class="btn btn-info" title="Clonar objeto" ng-if="activeObject">
                            <i class="fa fa-files-o fa-fw"></i>
                            <span>Duplicar</span>
                        </button>
                        <button class="btn" ng-click="canvas.centerObject(activeObject)" ng-if="activeObject" title="Centralizar">
                            <i class="fa fa-align-center fa-fw"></i>
                            Centralizar
                        </button>
                        <button class="btn btn-danger" ng-click="removeObject(activeObject)" ng-if="activeObject && !activeObject.isWaterMark" title="Remover Objeto">
                            <i class="fa fa-trash fa-fw"></i>
                            <span>Remover objeto</span>
                        </button>
                        <button title="Posicionar imagem abaixo" class="btn" ng-click="sendObjectToBottom()" ng-if="source && activeObject !== source && !activeObject.isWaterMark">
                            <i class="fa fa-arrow-down"></i>
                            <span>Combinar abaixo</span>
                        </button>
                        <button title="Posicionar imagem acima" class="btn" ng-click="sendObjectToTop()" ng-if="source && activeObject !== source && !activeObject.isWaterMark">
                            <i class="fa fa-arrow-up"></i>
                            <span>Combinar acima</span>
                        </button>
                                
                        
                    </div>
                    
                </div>

                <div class="group" ngf-drop ngf-change="source ? addImageFromBlob($file) : addSourceFromBlob($file)">
                    <canvas height="500" width="700" id="canvas" class="cbm-canvas"></canvas>
                </div>

                <div class="help-block hide-mobile" ng-if="activeObject">
                    <strong>Teclas</strong>
                    <br>
                    <kbd>HOME</kbd> ou
                    <kbd>+</kbd> para mover o objeto para uma camada acima
                    <br>
                    <kbd>END</kbd> ou
                    <kbd>-</kbd> para movê-lo uma camada abaixo
                    <br>
                    <kbd>CTRL+DELETE</kbd> para remover
                </div>
            </div>
            <div>

                <div class="group" ng-show="source">
                    <label>Selecione um Selo</label>
                    <div class="clear group">
                        <span ng-repeat="w in waterMarks">
                            <a ng-click="selectWaterMark($index)" ng-style="w.style" class="water-mark" ng-class="{active: w === waterMark}"></a>
                        </span>
                    </div>
                </div>
                <div class="group" ng-hide="source">
                    <h4>Selecione um Source</h4>
                    <div class="help-block">
                        <p>Para começar, selecione um source (base) para fazer o seu meme</p>
                        <p>Clique no botão
                            <i class="fa fa-plus"> </i> para adicionar uma base do seu computador</p>

                    </div>
                    <div class="clear group">
                        <span ng-repeat="s in sources" ng-attr-title="{{ ::s.name }}">
                            <a ng-click="addSource(s)" ng-style="::s.style" href="#" class="water-mark hover-big"></a>
                        </span>
                        <span>
                            <a title="Adicionar source do computador" ngf-accept="'image/*'" ngf-drop ngf-select ngf-change="addSourceFromBlob($file)"
                                class="water-mark icon">
                                <i class="fa fa-plus"></i>
                            </a>
                        </span>
                        <span>
                            <a title="Adicionar source por link" ng-click="addSourceFromUrl($file)" class="water-mark icon">
                                <i class="fa fa-link"></i>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="group" ng-show="source">
                    <label>Selecionar um recorte</label>
                    <div class="clear group">
                        <span ng-repeat="c in cutouts">
                            <a ng-click="addImage(c.url, 0.5)" ng-style="c.style" href="#" class="water-mark"></a>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- CBM Generator -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4119206527475379" data-ad-slot="4015700976" data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    </div>
</body>

</html>